<% include ../partials/header %>

	<h1>This is the companies page.</h1>

	<% listOfCompanies.forEach((elm) => {   %>
		<div class="card">
			<div class="card-header">
				<h4>
					<%= elm.name %>
				</h4>
			</div>

			<div class="card-body">
				<img src=<%=elm.image %> />
			</div>

		</div>
		<% }); %>

			<% include ../partials/footer %>