<% include ../partials/header %>

	<div class="container">

		<header class="jumbotron">

			<!-- Container here as well? -->
			<div class='container'>
					<h1>Boston Software Employers</h1>
					<p>Following are the top 100 software employers in the Boston area.</p>
		
					<a href="/companies/new" class="btn btn-primary btn-large">Add new company</a>
			</div>
		
		</header>

		<% listOfCompanies.forEach((elm) => {   %>
			<div class="card">
				<div class="card-header">
					<h4>
						<%= elm.name %>
					</h4>
				</div>

				<div class="card-body">
					<img src=<%=elm.image %> />
				</div>

			</div>

			<% }); %>
	</div>


	<% include ../partials/footer %>