<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<style>
		img {
			width: 100px;
		}
	</style>
</head>

<body>
	<h1>This is the companies page.</h1>
	<ul>
		<% listOfCompanies.forEach((elm) => {   %>
			<div>
				<h4>
					<%= elm.name %>
				</h4>
				<img src=<%=elm.image %> />
			</div>
			<% }); %>

	</ul>
</body>

</html>