<% include ../partials/header %>

	<% include ../partials/navbar %>
	<div class="newCompanyForm">
		<h1>Create a new company</h1>

		
			<form action="/companies" method="post">
				<div class="row">
					<input class="forn-control" type="text" placeholder='Company name' name="name" />
					<input class="forn-control" type="text" placeholder='Logo URL' name="logo" />
					<button class="btn btn-lg btn-default" type="submit">Submit</button>
				</div>
			</form>
		</div>


		<% include ../partials/footer %>