<% include ../partials/header %>

	<h1>Create a new company</h1>

	<form action="/companies">
		<input type="text" placeholder='Company name' name="name">
		<input type="text" placeholder='Logo URL' name="logo">
		<button>Submit</button>
	</form>

<% include ../partials/footer %>