html, body {
	/* background-color: aqua; */
	font-size: 14px;
}

img {
	width: 200px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.newCompanyForm {
	margin: 0 auto;
	width: 50%;
	/* background-color: pink; */
}